// COLORS
$color-header: #3b5998;
$color-main:#edf0f5;
$color-button: #69a74e;
$color-button-gradient: #87c772;

$color-blue-light: #acc5eb; 
$color-blue-dark: #5a7bb9;
$color-blue-dark-2: #163f92;

$color-white: #fff;
$color-black: #000;


$color-grey-light: #d1d1d1;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// FONT
$default-font-size: 16rem;
