*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is => 10px/16px * 100 = 62.5%
    font-size: 62.5%;

    @include respond(tab-land) { // width < 1200
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { // width < 900
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }
}

body {
    box-sizing: border-box;
    background-color: $color-main;
}

input:focus{
    outline: none;
}

